.checkout {
    background-color: #fff !important;
}

.checkout>nav {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 6rem;
    border-bottom: 1px solid #DDD;
    background-image: url('../../assets/checkout-header.png');
    /* background-position-y: -13px; */
}

.checkout>nav>div:first-child {
    width: 120px;
}

.checkout>nav>div:first-child>img {
    width: 100%;
}

.checkout>nav>h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
}

.checkout__wrapper {
    display: flex;
    padding: 1rem 4rem;
}


.checkout__wrapper>div:first-child {
    width: 80vw;
}

.checkout__titles {
    color: #C45500;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.checkout__address,
.checkout__summary {
    border: 1px solid #D5D9D9;
    border-radius: 8px;
    padding: 1rem;
}

.address__add-modal_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #f0f2f2;
    padding: 16px 20px;
    border-bottom: 1px solid #d5d9d9;
}

.address__add-modal_2 {
    padding: 16px 20px;
    overflow-y: scroll;
}

.address__add-instructions {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.address__add-instructions:hover {
    text-decoration: underline;
}

.address__list li {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 14px;
}

.address__list li>div {
    display: flex;
    flex-direction: column;
}

.card__modal-2 {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 1rem 2.5rem;
}

.card__modal-3 {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;

    background-color: #f0f2f2;
    padding: 16px 20px;
    border-top: 1px solid #d5d9d9;
}

input[type="radio"].custom__radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid #777;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
}

input[type="radio"].custom__radio:checked {
    border-width: 5px;
}

input[type="radio"].custom__radio:hover {
    border-color: #005f6a;
}


input[type="radio"].custom__radio:checked {
    border-color: #007185;
}